* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  margin: auto;
  align-items: center;
  box-shadow: 0 2px 5px 0 black, 0 2px 10px 0 black;
  background-color: #481A2B;
  margin-bottom: 40px;
}

nav {
  display: inline-block;
  min-width: 50%;
}

.links {
  justify-content: space-between;
  list-style: none;
}

.link {
  color: white;
  font-size: 30px;
}

nav a:hover {
  color: pink;
   border-bottom: 3px solid pink;
   text-decoration: none;
}

.logo, .links, .droit {
  display: flex;
  flex-direction: row;
}

.logo {
    font-size: 35px;
    color: pink;
    margin-right: 400px;
    margin-left: 20px;
    text-align: right;
    font-family: serif;
  }

.img {
  height: 300px;
  align-items: center;
  position: center;
  display: center;
  width: 800px;
  margin: 0 auto;
  padding: 25px 50px;
  opacity:
}

.bigTitles {
  font-family: "times new roman", serif;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 2px 5px 0 black, 0 2px 10px 0 black;
  background-color: 481A2B;
  color: pink;
}

h1 {
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  color: #481A2B;
  text-decoration-style: wavy;

}

.paragraphes p {
  font-family: "Garamond", serif;
  margin-top: 40px;
  font-size: 20px;
  color: black;
  text-align: left;
  margin-left: 10px;
}

.formulaire{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -40px;
  margin-bottom: 40px;
}

label{
	font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}


fieldset {
	background: #ddd;
	border: 1px solid #481A2B;
	margin: 1em 0 0;
}

legend {
	border: 1px solid #481A2B;
	background: #481A2B;
	color: white;
	font-variant: small-caps;
	letter-spacing: 0.1ex;
	font-weight: bold;
	padding: 0 1em;
  font-size: 20px;
}

textarea {
  font-family: "Garamond", serif;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

input {
	padding: 0 0.2ex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}


footer {
  margin-top: 40px;
  display: flex;
  background-color: #481A2B;
  box-shadow: 0 2px 5px 0 black, 0 2px 10px 0 black;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.info {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  float: left;
  height: 100%;
  width: 400px;
}

.info h1 {
  text-decoration: underline;
  font-size: 20px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.info a {
  font-size: 13px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  text-decoration: none;
}

.info li {
  font-size: 13px;
  color: white;
  display: block;
  width: 100%;
}

.info h6 {
  margin-top: 100px;
  font-size: 10px;
  float: left;
  color: grey;
  font-style: italic;
}

.petit:hover {
  color: pink;
  border-bottom: 3px solid pink;
}
